* {
    box-sizing: border-box;
    --dropdown-bg-color: rgba(240, 240, 240, 0.9);
    --dropdown-item-hover-color: rgba(60, 60, 60, 0.90);
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Set input number fields without arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

/* Firefox*/
/* input[type=number] {
    -moz-appearance:textfield;
} */
/* ------------------------------------------ */

body {
    font-family: Tahoma, Verdana, sans-serif;
    /* background-color: #f4f4f4b9; */

    background-image: url('/imgs/map_textures/background6.webp');
    background-repeat: repeat;
    background-size: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.main-container {
    margin: auto;
    max-width: 1200px;
}

.monster-stats-container {
    min-width: 200px;
    max-width: 400px;
    min-height: 460px;
}

.box {
    border: solid 1px #ccc;
    border-radius: 8px;
}

.square-box {
    border: solid 1px #ccc;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.clickable:hover {
    cursor: pointer;
}

.column {
    /* float: left;*/
    width: 48%;
    margin: 1%;
    padding: 1%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.scrollbar {
    overflow: auto;
}

.monster-img-container {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 8px;
}

.monster-img-container:hover {
    background-color: var(--dropdown-item-hover-color);
}

.monster-img-max-size {
    max-width: 100%;
    max-height: 100%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

#monster-dropdown {
    height: 433px;
    width: 428px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.def-stat-text {
    position: relative;
    display: table;
    left: 50%;
    margin-bottom: 2px;
}

.class-selector-icon {
    position: absolute;
    left: -14px;
}

.fire-res-icon {
    position: absolute;
    clip-path: inset(193px 100px 296px 391px);
    top: -193px;
    right: -100px;
    bottom: -296px;
    left: -416px;
}

.water-res-icon {
    position: absolute;
    clip-path: inset(193px 78px 296px 413px);
    top: -193px;
    right: -78px;
    bottom: -296px;
    left: -438px;
}

.light-res-icon {
    position: absolute;
    clip-path: inset(193px 56px 296px 435px);
    top: -193px;
    right: -56px;
    bottom: -296px;
    left: -460px;
}

.shadow-res-icon {
    position: absolute;
    clip-path: inset(193px 33px 296px 457px);
    top: -193px;
    right: -33px;
    bottom: -296px;
    left: -482px;
}

.character-slot-container {
    position: relative;
    width: 55px;
    height: 55px;
    margin: auto;
}

.character-slot-container img {
    margin: auto;
}

.item-dropdown {
    position: absolute;
    max-width: 502px;
    max-height: 400px;
    min-width: 42px;
    min-height: 42px;

    background-color: var(--dropdown-bg-color);
    z-index: 2;
    padding: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.item-img-container {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 8px;
}

.item-dropdown .item-img-container:hover {
    background-color: var(--dropdown-item-hover-color);
}

.item-dropdown img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: auto;
}

.class-radio-btn-container {
    position: relative;
    margin: 0px 5px;
}

.weared-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    max-width: 42px;
    max-height: 42px;
    padding-bottom: 3px;
}

.smooth-hiding-transition {
    transition-property: opacity, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.item-inspector-frame {
    max-width: 310px;
    position: absolute;
    font-size: 12px;
    color: white;
    --light-orange: rgb(245, 196, 120);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

.item-inspector-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.item-inspector-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.item-inspector-text-container {
    margin-left: 60px;
    margin-right: 40px;
}

.item-inspector-title {
    max-width: 50px;
    color: var(--light-orange);
}

.item-inspector-frame input[type="number"] {
    color: var(--light-orange);
    background-color: transparent;
    font-size: 12px;
}

.item-inspector-upgrade {
    max-width: 25px;
}

.item-inspector-gray-text {
    color: rgb(203, 203, 203);
}

.item-inspector-dmg-numbers {
    max-width: 45px;
}

.item-inspector-light-orange-text {
    color: var(--light-orange);
}

.item-inspector-red-text {
    color: rgb(255, 50, 61);
}

.item-inspector-dark-orange-text {
    color: rgb(255, 134, 44);
}

.sp-input {
    width: 30px;
    position: absolute;
    background-color: transparent;
}

.sp-point-color {
    color: rgb(104, 225, 7);
}

.sp-perf-color {
    color: rgb(255, 188, 0);
}

.sp-title {
    position: absolute;
    left: 60px;
    top: 20px;
    color: rgb(255, 188, 0);
    width: 225px;
    height: 35px;
}

#sp-cross-close-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 3px;
    top: 3px;
}

#sp-point-inspector {
    position: absolute;
    width: 310px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}

#reset-points-btn {
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 27px;
    right: 92px;
}

#sp-close-blue-btn {
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 27px;
    right: 25px;
}

#sp-bonus-display {
    position: absolute;
    left: 30px;
    top: 300px;
    width: 230px;
    height: 85px;
    color: rgb(124, 143, 245);
    overflow-y: hidden;
    font-size: 12px;
    text-align: left;
}

/* TAB WIDGET */
.tab {
    overflow: hidden;
    border: 1px solid #606467;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 1px #111517;
    background-color: rgb(37, 41, 43);
    clip-path: inset(-1px -1px 0px -1px);
}

.tab button {
    color: white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}

.tab button:hover {
    background-color: rgb(27, 31, 33);
}

.tab button.active {
    background-color: #111517;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #606467;
    border-top: none;
    text-align: left;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 2px 0px 1px #111517;
    clip-path: inset(-2px -2px 0px -2px);
    background-color: #111517;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* END OF TAB WIDGET */

.blue-btn {
    color: #DCECFF; 
    background: linear-gradient(#5AA8D8 0%, #5AA8D8 10%, #3475BE 25%, #3475BE 85%, #588DC9 100%); 
    border: 1px solid #0E2752; 
    border-radius: 8px; 
    padding: 7px 15px; 
    text-shadow: 2px 0 #1052C6, -2px 0 #1052C6, 0 2px #1052C6, 0 -2px #1052C6, 1px 1px #1052C6, -1px -1px #1052C6, 1px -1px #1052C6, -1px 1px #1052C6;
}

.blue-btn:hover {
    background: linear-gradient(#75ACDE 0%, #75ACDE 10%, #5090CB 25%, #5090CB 85%, #7DCDF8 100%); 
}

.blue-btn:active {
    background: linear-gradient(#296FBE 0%, #296FBE 90%, #4BA2D8 100%);
}

.black-panel {
    color: white;
    background-color: #111517;
    border: 1px solid #606467;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #111517;
    padding: 5px;
}

.gray-panel {
    color: white;
    background-color: rgb(60, 60, 60, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(84, 84, 84, 1);
    padding: 5px;
}

.almost-white-panel {
    color: white;
    background-color: rgb(10, 10, 10, 0.4);
    border: 1px solid black;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 0px 2px rgb(10, 10, 10, 0.4);
    padding: 5px;
}

.black-translucent-panel {
    border: solid 1px rgb(125, 124, 123);
    border-radius: 5px;
    background-color: rgb(20, 20, 20, 0.90);
    box-shadow: 0 0 0 1px rgb(20, 20, 20);
}

.panel-title {
    font-size: 18px;
    color: white; 
    background: linear-gradient(#474847 0%, #474847 10%, #2B2D31 25%, #2B2D31 50%, black 55%, black 100%); 
    border: 1px solid #7C7C7C;
    border-radius: 5px 5px 5px 5px; 
    box-shadow: 0 0 0px 1px black;
    padding: 7px 15px; 
    text-shadow: 2px 0 #2A2C30, -2px 0 #2A2C30, 0 2px #2A2C30, 0 -2px #2A2C30, 1px 1px #2A2C30, -1px -1px #2A2C30, 1px -1px #2A2C30, -1px 1px #2A2C30;
}


.nunito-title {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#main-title {
    font-size: 64px;
    background: linear-gradient(#F59000 0%, #F59000 20%, #FBD06C 50%, #FEEC9A 80%, #FEEC9A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(6px 6px 6px #000);
}